<h2>What is Bubble Sort?</h2>

<!-- AC01312025 -- This section is the actual overview of the algorithm -->
<p style="text-indent: 30px;">
    Bubblesort is a popular, but inefficient, sorting algorithm. It works by repeatedly swapping adjacent elements that are out of order, similar to air bubbles 
    in the water, where the largest "bubbles" up to the surface, each element of the array move to the end in each iteration, Hence the name <i>bubble</i> sort.
</p>

<p style="text-indent: 30px;">
    Bubble Sort follows a brute-force-like approach. As the name suggests, brute-force algorithms take a straightforward method to solve problems, often by checking all possibilities. 
    Bubble Sort follows this idea by repeatedly iterating through the array, comparing and swapping adjacent elements until the entire array is sorted 
</p><br>




<div class="text-center">
    <img src="/static/learnApp/images/test_image.png" alt="Bubble Sort Example">
</div>



<!-- AC01312025 -- Each algorithm should talk about time complexity-->
<div class="text-center">
    <h3>Time Complexity:</h3>
    <ul style="list-style-position: inside; text-align: center; display: inline-block;">
        <li><strong>Best case:</strong> O(n)</li>
        <li><strong>Worst case:</strong> O(n²)</li>
        <li><strong>Average case:</strong> O(n²)</li>
    </ul>
</div>

<!--AC01312025 -- Along with time complexity notes, an analysis is also require for page completion -->
<h3>Analysis:</h3>
<p style="text-indent: 30px;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam aperiam iusto consequuntur libero! At, libero neque, commodi tenetur voluptatem aliquid voluptate, laboriosam ipsam delectus laborum reprehenderit pariatur modi? Veritatis, rerum!</p>
