<h2>Introduction</h2>

<!-- AC01312025 -- This section is the actual overview of the algorithm -->
<p style="text-indent: 30px;">
    In order to understand <i>heap sort</i>, it's important to have a basic understanding of the <i>heaps</i>
    data structure, and the basic operations done with heaps.
</p>


<h2>Heaps</h2>
<p style="text-indent: 30px;">
   Heaps are an array data structure that can be viewed as a <i>complete binary tree</i>. Meaning, all except,
   the last right-most layers are filled. Each parent node has children, and each node in the heap corresponds to
   an element of an array. Take a look at the figure below to see the relation between a heap and array:
</p>

<!-- Include image here perhaps? -->

<p style="text-indent: 30px;">
    <i><b>Note:</b></i> When looking at a node on a heap, you can determine its array index by the following:
</p>